<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixeiro Viajante</title>
      <style>
        .container {
            display: flex;
            justify-content: space-between; /* This will separate the divs */
        }

        .formulario,
        .resposta {
            flex-basis: calc(50% - 10px); /* Adjust as needed to create spacing between divs */
            padding: 10px; /* Add padding for spacing */
        }

        /* Add any additional CSS styles for .formulario and .resposta here */
    </style>
</head>
<body>
<div class="container">
  <Div class="formulario">
    <h1>Formulário Caxeiro Viajante</h1>
    <form action="/caxeiroViajante" method="POST">
        <label>Total de Aeroportos:</label>
        <input type="number" min="1" name="total_elementos" id="total_elementos" required><br>
        <br>
        <label>Valor Mínimo da Distância entre as cidades:</label>
        <input type="number" min="0" name="min_matriz1" id="min_matriz1" required><br>
        <br>
        <label>Valor Máximo da Distância  entre as cidades:</label>
        <input type="number" min="0" name="max_matriz1" id="max_matriz1" required><br>
        <br>
        <input type="submit" value="Calcular Rota">
    </form>
    <a href="/imagem">Área do professor?</a>
  </Div>
    {% if show_response_div %}
      <div class="resposta">
          <h2>Rota do Caxeiro Viajante</h2>
          <p>Solução inicial: {{ solInicial }}</p>
          <p>Valor da solução inicial: {{ ValorSolInicial }} KM</p>
          <br>

          <h2>Rota do Caxeiro Viajante </h2>
          <h4>Subida de Encosta</h4>
          <p>Solução inicial: {{ SolucaoAtual }}</p>
          <p>Valor da solução inicial: {{ ValAtual }} KM</p>
          <br>

          <h2>Rota do Caxeiro Viajante</h2>
          <h4>Subida de Encosta Alterada</h4>
          <p>Solução inicial: {{ solucaoAtualAlterada }}</p>
          <p>Valor da solução inicial: {{ valorAtualAlterada }} KM</p>
          <br>
      </div>

  {% endif %}
</div>
</body>
</html>


